@import './../../../styles.scss';

.logo-container{
    @include dFlex();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: $ulka_green;
    transition: background-color 1s ease-out;
}

.container-transperent{
    background-color: transparent !important;
}

.animated-logo{
    transition: width 1.3s, height 1.3s, margin 0.7s;
    width: 132px;
    height: 132px;
}

.animat-logo{
    @include dFlex($ai: start);
}

.solo-logo{
    width: 132px;
    height: 132px;
    border-radius: 10px;
}

.addMargin{
    margin: 8px 24px 8px 24px;
}

.moveUp{
    align-items: center;
    height: 100%;
    width: 100%;
}

.getRid{
    display: none;
}