@import './../../../styles.scss';

section{
    background-color: $ulka_green;
    height: 100%;
    width: 324px;
}

nav{
    @include dFlex($ai: unset, $jc: unset);
    height: 100%;
}

a{
    @include dFlex($ai: unset);
    font-size: 26px;
    margin: 12px 12px 12px 0px;
    padding: 0px 12px 0px 12px;
    width: 95%;
    height: 56px;
    color: white;

    &:hover{
        color: $ulka_green;
        background-color: white;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        cursor: pointer;
    }
}