<section>
    <app-aside class="aside"></app-aside>
    <app-intro></app-intro>

    <div class="landing-content">
        <div class="txt-field">
            <div class="txt">
                <div class="txt-area1">
                    <h3>Willkommen bei Gebäudeenergieberatung Ulka</h3>
                    <p>- Ihrem Partner für professionelle Schornsteinfegerarbeiten und nachhaltige Energiebaratung.</p>
                </div>
                <div class="txt-area2">
                    <p>
                        Als frischgebackener Schornsteinfeger bringe ich nicht nur frischen Wind in die Branche, sondern auch
                        eine tiefe Verbundenheit zum traditionellen Handwerkswerten.
                        Mit großem Sinn für die bewährten Techniken und die lange Geschichte meines Berufsstandes steh ich
                        für Qualität, Vertrauen und Sorgfallt.
                    </p>
                    <p>
                        Gleichzeiting setz ich auf moderne, innovative Ansätze in der Energieberatung. 
                        Ob bei der Optimierung Ihrer Heizng, der Nutzung erneuerbaren Energien oder bei individuellen 
                        Beratungsgesprächen - unser Ziel ist es, effiziente und umweltfreundliche 
                        Lösungen für Ihre Immobielie zu finden.
                    </p>
                    <p>
                        Vertrauen Sie auf Erfahrung, Tradition und Inovation - für Ihre nachhaltige und sorgenfreie Zukunft.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>