@import './../../../styles.scss';

section{
    @include dFlex($fd: row, $jc: space-between);
    background-color: $ulka_green;
    height: 148px;
    padding: 0px 24px 0px 24px;
    width: 100%;
    bottom: 0;
    box-shadow: 0px -17px 17px 9px rgba(0, 0, 0, 0.26);
    position: relative;
    z-index: 5;
}

.logo-area{
    width: 132px;

    .soloLogo{
        border-radius: 10px;
    }
}

.link-section{
    @include dFlex($ai: end);

    .footerLink{
        font-size: 28px;
        color: white;
    }
}